---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getFilm } from '../../../backend/backend.mjs';
const film = await getFilm();
---

<Layout>
	<div class="">
    <div class="container py-20 space-y-8">
      <h1 class="text-center">Programe films</h1>

      <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
        {film.length > 0 ? (
          film.map((film) => (
            <Card {...film} />
          ))
        ) : (
          <p>pas de films</p>
        )}
      </div>
    </div>
  </div>
</Layout>
