---
import Logo from '../assets/icons/IconLogo.svg'
import Facebook from '../assets/icons/IconFacebook.svg'
import Instagram from '../assets/icons/IconInstagram.svg'
import Twitter from '../assets/icons/IconTwitter.svg'
import Linkedin from '../assets/icons/IconLinkedin.svg'
---
<footer class="  space-y-8 pt-10 bg-[rgb(158,255,167)] lg:grid lg:grid-cols-4 lg:gap-8 lg:space-y-0">
  <Logo />

  <nav class="px-5 columns-2 gap-8 space-y-8 text-sm lg:text-base lg:columns-3 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3">
    <div>
      <ul >
        <li><a href="/contact">Contact</a></li>
        <li><a href="/apropos">A propos</a></li>
      </ul>
      <h3 class="left-0">
        7 Rue du Malsaucy
        90300 Sermamagny
        BUT MMI 
        Araldi Théo</h3>
    </div>
    
  </nav>
  <div
    class="px-5 text-gray-400  border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0">
    <p>©2025 Ciné Nature. All rights reserved</p>
    <ul class="flex gap-12 justify-center">
      <li>
        <a href="https://facebook.com" aria-label="Facebook"><Facebook /></a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="Instagram"><Instagram /></a>
      </li>
      <li>
        <a href="https://twitter.com" aria-label="Twitter"><Twitter /></a>
      </li>
      <li>
        <a href="https://linkedin.com" aria-label="Linkedin"><Linkedin /></a>
      </li>
    </ul>
  </div>
</footer>