---
import Layout from "../../layouts/Layout.astro";
import { addfilm } from "../../../backend/backend.mjs";

let pbMessage = '';
if(Astro.request.method == "POST") {
    const data = await Astro.request.formData();
    console.log(data);
    if(new Date(data.get("date")?.toString() || 0) < new Date()){
        pbMessage = "La date de l'événement doit être supérieure à la date d'aujourd'hui";
    } else {
        const response = await addfilm(data);
        pbMessage = response.message;
    }
   
}

---

<Layout title="Ajouter un film">
    <h1 class="text-3xl">Ajouter un film</h1>
    <p class="text-red-500">{pbMessage}</p>
    <form method="post" action="/film/add" enctype="multipart/form-data" class="flex flex-col p-4">
        <input type="text" nom-film="nom_film" placeholder="Titre" class="border my-4 p-2 rounded-md" required/>
        
        <textarea  name="synopsis" placeholder="synopsis" class="border my-4 p-2 rounded-md" required/>
        <input type="url" name="ba" placeholder="Bande-annonce" class="border my-4 p-2 rounded-md" required/>
        
        <textarea name="info" placeholder="Information" class="border my-4 p-2 rounded-md"></textarea>
        <input type="date" name="date" class="border my-4 p-2 rounded-md" required/>
        <input type="file" name="affiche" class="border my-4 p-2 rounded-md" />
        <input type="submit" value="Ajouter" class="bg-slate-500 rounded-lg p-5" />
    </form>
</Layout>